[Desktop Entry]
Name=Media Downloader
StartupWMClass=Media-Downloader
Comment=Media Downloader for Desktop
GenericName=Media Downloader for Linux
Exec=youtube-dl-pro.sh %u
Icon=com.warlordsoftwares.media-downloader
Terminal=false
Type=Application
StartupNotify=true
Keywords=download youtube videos;4k video downloader;youtube to mp3 converter;video downloader software;online video streaming;
Categories=Utility;Qt;
