[Desktop Entry]
Version=1.0
GenericName=Youtube-dl-Pro
Name=DL-YOUTUBE
Type=Application
Icon=youtube-dl-pro.png
Keywords=youtube downloader;video downloader;music downloader;playlist downloader;full HD downloader;audio downloader; youtube; youtube music;youtube.com;
Exec=youtube-dl-pro %F
Categories=Utility;Qt;
Terminal=false
Name[en_US]=DL-YOUTUBE