[Desktop Entry]
Version=1.0
GenericName=Youtube-dl-Pro
Name=DL-YOUTUBE
Type=Application
Icon=youtube-dl-pro.png
Keywords=download youtube videos;4k video downloader;youtube to mp3 converter;video downloader software;online video streaming;
Exec=youtube-dl-pro %F
Categories=Utility;Qt;
Terminal=false
Name[en_US]=DL-YOUTUBE